.navbar-color {
  background-color: #fff !important;
  border-bottom: 3px solid #0000001a;
  color: blue !important;
}

.nav-link {
  color: #050000 !important;
  font-size: 1.2rem;
}

.navbar-toggler {
  color: black !important;
  border: 3px solid red;
}

.navbar__dropdown {
  height: 3rem;
  width: 3rem;
  overflow: hidden;
}

.navbar__dropdown--image {
  overflow: hidden;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}
